<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/css/style.css' />
  <title>Users</title>
</head>
<body>
	<h2>Enter a New User</h2>
<form action="/users" method="POST">
  <p>
  <label>Google Id:
   <input type="text" name="googleId">
  </label>
  </p>
  <p>
  <label>Email:
   <input type="text" name="email">
  </label>
  </p>
  <p>
  <label>Favorite Artists (separate artists with commas):
   <input type="text" name="favoriteArtists">
  </label>
  </p>
  <p>
  <label>Favorite Albums (separate albums with commas):
    <input type="text" name="favoriteAlbums">
   </label>
  </p>
  <p>
  <input type="submit" value="Add User">
  </p>
</form>
</body>
</html>